.card-list {
  background-color: #202020;
  display: grid;
  padding: 69px 70px 17px 70px;
  grid-template-columns: repeat(auto-fit, 364px);
  align-items: center;
  justify-content: center;
  gap: 26px 24px;
  margin: 0;
  list-style: none;
}
