.card-list {
  background-color: #202020;
  display: grid;
  padding: 83px 0 17px 0;
  grid-template-columns: repeat(auto-fit, 364px);
  align-items: center;
  justify-content: center;
  gap: 30px 24px;
  margin: 0;
  list-style: none;
}
