.card {
  max-width: 364px;
  width: 100%;
  min-height: 271px;
  background-color: #222;
}
.card__info {
  margin: 14px;
  display: grid;
  grid-template-areas:
    "name like"
    "time like";
  max-width: 336px;
  row-gap: 9px;
  width: 100%;
  justify-content: space-between;
}
.card__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  grid-area: name;
}

.card__time {
  color: #8b8b8b;
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  grid-area: time;
}

.card__save {
  margin-top: 6px;
  grid-area: like;
  background-image: url(../../images/save-unactive.svg);
  background-position: center;
  background-color: #313131;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__save:hover {
  opacity: 0.8;
}

.card__save_active {
  background-image: url(../../images/save-active.svg);
}

.card__delete {
  margin-top: 6px;
  grid-area: like;
  background-image: url(../../images/delete-icon.svg);
  background-position: center;
  background-color: #313131;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__delete:hover {
  opacity: 0.8;
}
