.more {
  background: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 80px 0;
}

.more__button {
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  max-width: 320px;
  width: 100%;
  min-height: 36px;
  background-color: #2f2f2f;
  color: #fff;
}

.more__button_invisible {
  display: none;
}
