.promo {
  display: flex;
  flex-direction: column;
  background-color: #073042;
  padding: 50px 0 60px 0;
}

.promo__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 626px;
  color: #fff;
  margin: 0 0 0 70px;
  letter-spacing: -0.04em;
}

.promo__image {
  max-width: 722px;
  align-self: flex-end;
  margin: 102px 70px 0 0;
}
