.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #073042;
  padding: 48px 0 60px 0;
}

.promo__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

.promo__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 626px;
  color: #fff;
  margin: 0;
  letter-spacing: -0.04em;
}

.promo__image {
  max-width: 722px;
  align-self: flex-end;
  margin: 102px 0 0 0;
}
