.app {
  background-color: #fff;
  color: #fff;
  min-width: 320px;
  font-family: "Inter", "Arial", "Helvetica";
  font-style: normal;
  font-weight: 400;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
