.header {
  display: flex;
  padding: 18px 0 18px 0;
  background-color: #202020;
  color: #fff;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}

.header__logo {
  max-width: 38px;
  max-height: 38px;
  margin-left: 70px;
  margin-right: 44px;
  transition: opacity 0.3s ease-in-out;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__films-container {
  display: flex;
  align-items: center;
}

.header__account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__avatar-container {
  min-width: 30px;
  min-height: 30px;
  background-color: #313131;
  background-image: url(../../images/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
  margin-right: 70px;
}

.header__link {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover {
  opacity: 0.8;
}

.header__link_account {
  margin-right: 13px;
  font-size: 14px;
  line-height: 16px;
}

.header__link_films {
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.header__link_films_bold {
  font-weight: 500;
}
