.header {
  padding: 18px 70px 18px 70px;
  background-color: #202020;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
}

.header__container {
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin: 0 auto;
}

.header__logo {
  max-width: 38px;
  max-height: 38px;
  transition: opacity 0.3s ease-in-out;
  margin-right: 44px;
}

.header__logo:hover {
  opacity: 0.8;
}

/* .header__burger {
  position: absolute;
  width: 31px;
  height: 23px;
  background: transparent url("../../images/Burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  top: 8px;
  right: 7px;
  cursor: pointer;
  z-index: 3;
} */

@media screen and (max-width: 1279px) {
  .header {
    padding: 18px 30px 18px 30px;
  }

  /* .header__logo {
    margin: 0;
  } */
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px 18px 14px;
  }
}
