.footer {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 78px 0 20px 0;
}

.footer__title {
  color: #8b8b8b;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
}

.footer__container {
  border-top: 1px solid #424242;
  margin: 20px 70px 0 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 20px 0 0 0;
}

.footer__nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 20px 0 0 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  margin: 0 20px 0 0;
}

.footer__link:last-child {
  margin: 0;
}
