.footer {
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 76px 70px 20px 70px;
  max-width: 1140px;
}

.footer__main-text {
  color: #8b8b8b;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
}

.footer__container {
  border-top: 1px solid #424242;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 20px 0 0 0;
}

.footer__nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 20px 0 0 0;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  margin: 0 20px 0 0;
}

.footer__link:last-child {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .footer {
    padding: 79px 30px 20px 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 79px 10px 20px 10px;
  }

  .footer__main-text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    border-top: 1px solid #424242;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .footer__nav-links {
    flex-direction: column;
    text-align: center;
    margin: 31px 0 0 0;
  }

  .footer__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .footer__link {
    margin: 12px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .footer__nav-links :first-child {
    margin: 0;
  }

  .footer__nav-links :last-child {
    margin: 12px 0 0 0;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
    margin: 30px 0 0 0;
  }
}
