.techs {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding: 100px 70px 100px 70px;
  align-items: center;
  margin: 0 auto;
}
.techs__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.techs__title-container {
  display: flex;
  border-bottom: 1px solid #dadada;
  max-height: 50px;
  max-width: 100vw;
}

.techs__title {
  font-weight: 400;
  letter-spacing: -0.04em;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0 0 23px 0;
}

.techs__subtitle {
  align-self: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 90px 0 0 0;
}

.techs__text {
  align-self: center;
  margin: 26px 0 0 0;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
}

.techs__blocks-container {
  flex-wrap: wrap;
  display: flex;
  align-self: center;
  margin-top: 90px;
}

.techs__block {
  min-width: 90px;
  min-height: 60px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 10px 0 0;
}

.techs__block:last-child {
  margin-right: 0;
}

.techs__block-text {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
  .techs {
    padding: 90px 50px 90px 50px;
  }

  .techs__subtitle {
    margin: 80px 0 0 0;
  }

  .techs__text {
    margin: 26px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .techs__blocks-container {
    margin-top: 72px;
  }

  .techs__block {
    min-width: 84px;
    min-height: 57px;
  }

  .techs__block-text {
    font-size: 12px;
    line-height: 15px;
  }
}
